<!DOCTYPE html>
<head>
<title>SpareMate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- keeping all scripts and style local for faster load times-->
    <!--bootstrap-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!--scripts-->
    <script src="{{url_for('static', filename='js/a076d05399.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>

<style>
    .heading{
        text-align: center;
        padding-top: 80px;
        font-size: 70px;
    }
    .center{
        text-align: center;
        padding-top: 50px;
    }
   
    
   .navbar navbar-expand-lg{

       width: 100%;
   }
     .dropdown-item:hover {
            background-color: #3D3D3D;
            color: white;
        }


        a:hover {
            background-color: #3A3B3C;
           
        }
        
        body {
            background:#f7f7f7;
        }
       
      
</style>
</head>

<!--navbar with search-->
<div class="container">
<nav class="navbar navbar-expand-lg navbar navbar-light">
    <a class="navbar-brand" href="/"><font color="black">SpareMate</a></font>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
      
        <li class="nav-item">
          <a class="nav-link" href="/home">All products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brands
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for brand in brands%}
            <a class="dropdown-item" href="{{url_for('get_brand',id=brand.id)}}">{{brand.name}}</a>
           {% endfor %}
          </div>
        </li>

    



        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for category in categories%}
              <a class="dropdown-item" href="{{url_for('get_category',id= category.id)}}">{{ category.name}}</a>
             {% endfor %}
            </div>
          </li>















        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
<h1 class="heading">SpareMate</h1>
<h2 class="center">Popular products</h2>
<br>
<div class="container">
    <div class="row">

        {% if brand %}

        {% for b in brand %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/'+  b.image_1)}}" alt="{{ b.name}}" class="card-img-top"height="200">
                <div class="card-body"></div>
                {% if  b.discount>0 %}
                <h5 style="text-shadow:1px 1px 2px #000; color:red; transform: rotate(-15deg),position:absolute;left:20%;">Discount:{{b.discount}}%</h5>
                {% endif %}
                <h5 class="text-center">{{ b.name}}</h5>
                <p class="text-center">Rs.{{ b.price}}</p>
                    <div class="card-footer">
                        <a href="#"class="float-left btn btn-sm btn-primary">Detail</a><a href="#"class="float-right btn btn-sm btn-warning">Add to cart</a>
                    </div>
                </div>
            </div>
{% endfor %}

{% elif get_cat_prod %}
{%for get_cat in get_cat_prod%}
<div class="col-md-3 mt-3">
    <div class="card">
        <img src="{{url_for('static',filename='images/'+   get_cat.image_1)}}" alt="{{  get_cat.name}}" class="card-img-top"height="200">
        <div class="card-body"></div>
        {% if  get_cat.discount>0 %}
        <h5 style="text-shadow:1px 1px 2px #000; color:red; transform: rotate(-15deg),position:absolute;left:20%;">Discount:{{ get_cat.discount}}%</h5>
        {% endif %}
        <h5 class="text-center">{{get_cat.name}}</h5>
        <p class="text-center">Rs.{{get_cat.price}}</p>
            <div class="card-footer">
                <a href="#"class="float-left btn btn-sm btn-primary">Detail</a><a href="#"class="float-right btn btn-sm btn-warning">Add to cart</a>
            </div>
        </div>
    </div>

{%endfor%}





        {% else %}

        {% for product in products %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/'+product.image_1)}}" alt="{{product.name}}" class="card-img-top"height="200">
                <div class="card-body"></div>
                {% if product.discount>0 %}
                <h5 style="text-shadow:1px 1px 2px #000; color:red; transform: rotate(-15deg),position:absolute;left:20%;">Discount:{{product.discount}}%</h5>
                {% endif %}
                <h5 class="text-center">{{product.name}}</h5>
                <p class="text-center">Rs.{{product.price}}</p>
                    <div class="card-footer">
                        <a href="#"class="float-left btn btn-sm btn-primary">Detail</a><a href="#"class="float-right btn btn-sm btn-warning">Add to cart</a>
                    </div>
                </div>
            </div>
{% endfor %}

{% endif %}
        </div>
    </div>
</div>

  </html>