{% extends 'layout.html' %}
{% include '_messages.html'%}
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
   .dropdown-item:hover {
            background-color: #3D3D3D;
            color: white;
        }
     
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
.ct{
    float: right;
  }
.pr{
    font-size: 35px;
}
.product_name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #e8e8e8;
}
img{
    overflow: hidden; 
    transition: 0.5s all ease-in-out; 
}
img:hover{
    transform: scale(5.0); 
    -webkit-transform:scale(1.65); /* Safari and Chrome */
    -moz-transform:scale(1.65); /* Firefox */
    -ms-transform:scale(1.65); /* IE 9 */
    -o-transform:scale(1.65); /* Opera */
     transform:scale(1.65);
    
}
.crt{
    float: right;
}
</style>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/product_page"><font color="black">All products</a></font>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Brands
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for brand in brands %}
                <a class="dropdown-item" href="{{url_for('get_brand', id=brand.id)}}">{{brand.name}}</a>
                {% endfor %}
              </div>
            </li>
             
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                  <a class="dropdown-item" href="{{url_for('get_category',id=category.id)}}">{{category.name}}</a>
                  {% endfor %}
                </div>
              </li>
              <div class="ct">
                <li class="nav-item">
                  <a href="#" class="nav-link"><font color="black" style="font-size:15px;padding-right: 10px;" class="fa fa-shopping-cart" tabindex="-1">({{ session['Shoppingcart']|length }}) </a></font>
          </ul>
        </div>
    </nav>
   
</div>
</div>
<br>
<br>
<br>
<br>
<script src="{{url_for('static', filename='js/index.js')}}"></script>

<div class="container mt-5">
    <div class="row">
    
        <div class="col-md-6" id="b_image">
            <img src="{{url_for('static',filename='images/'+ product.image_1)}}" alt="{{product.name}}" width="400" height="400">
        </div>
        <div class="col-md-6">
        <h1 class="product_name">{{product.name}}</h1>
        <hr>
        <p class="pr">&#8377; {{product.price}}</p>
        <p>Product origin:{{product.origin}}</p>
        <p>Color:{{product.colors}}</p>
        {% if product.discount >0 %}
        <p>Discount:{{product.discount}} %</p>
        {% endif %}
        <b>Product Description</b>
        <p>{{product.description}}</p>
        <hr>
        <!--cart function-->
        <form action="{{url_for('AddCart')}}" method='post'>

        <input type="hidden" name="product_id" value="{{product.id}}">

        <button type="submit" class="btn btn-dark">Add to cart</button>

        <label for=""><font color="white">Quantity:</label></font>

        <input type='number' name="quantity" id="" value="1" min='1' max="{{product.stock}}">
        {% set colors=product.colors.split(',') %}
        <label for="colors"><font color="white">Colors:</label></font>
        <select name="colors" id="">

            {% for color in colors %}
            {% set col= color.split(':') %}
            <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
            {% endfor %}

        </select>

    </form>



        <!--buttons-->
       
    </div >
</div>
<div class="row">
   <div class="col-md-12 mt-3" id="s_image">

    <img src="{{url_for('static',filename='images/'+ product.image_1)}}" alt="{{product.name}}" width="120" height="120" class="p-3">
    <img src="{{url_for('static',filename='images/'+ product.image_2)}}" alt="{{product.name}}" width="120" height="120" class="p-3">
    <img src="{{url_for('static',filename='images/'+ product.image_3)}}" alt="{{product.name}}" width="120" height="120" class='p-3'>
    <img src="{{url_for('static',filename='images/'+ product.certificate)}}" alt="{{product.name}}" width="120" height="120" class='p-3'>

   </div>
</div>
</div>
<hr color="white">
{% endblock %}
